/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

.timercard {
    margin: 50px;
    padding-left: 30px;
    background-color: #f9f900;
    width: 170px;
    height: 40px;
}

#countdown {
    color: black;
    padding-top: 7px;
    padding-left: 5px;
    font-style: bold;
    display:inline-block;
}

#highscores{
    position: absolute;
    right: 0;
    color: white;
    padding-top: 7px;
    margin-right: 50px;
    font-style: bold;
    display:inline-block;
}

body {
    background-image: url("./assets/breaking-bad-wallpaper-5.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    font-family: 'Noto Sans KR', sans-serif;
    background-position: top center !important;
    background-size: cover;
}

.container {
    width: 780px;
    padding-top: 90px;
    border: none;
    display: flex;
}

  #question {
    font-size: 21px;
}

  .card-body {
    width: 750px;
    height:300px;
}

  .card-header {
    background-color: #29472f;
    color: white;
}
  
  #message {
    padding-top: 12px;
    font-weight: bold;
    color: #29472f;
}

  #start-btn {
    margin-left:265px;
    margin-top: 60px;
    background-color: #f9f900;
    width: 180px;
    color: black; 
}

  #submit-btn {
    background-color: #f9f900;
    width: 180px;
    color: black; 
}

#submit-btn :focus, #submit-btn  :active {
  outline: none !important;
  box-shadow: none !important;
}

#submit-btn :hover {
  background-color: #29472f; !important;
  color: white;
  margin: 20px;
}


#highscores-btn {
  background-color: #29472f;
  width: 180px;
  color: white;
}

#highscores-btn :focus, #highscores-btn :active {
  outline: none !important;
  box-shadow: none !important;
}

#highscores-btn :hover {
  background-color:  #f9f900 !important;
  color:  black;
}

.button-group {
  padding-top:20px;
}

.scorebuttons-container {
  display: inline-block;
}


  #start-btn:focus, #start-btn :active {
    outline: none !important;
    box-shadow: none !important;
}
  
  #start-btn:hover {
    background-color: #29472f; !important;
    color: white;
}

.btn {
    background-color:	#E8E8E8; 
    border-color: white;
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    margin: 0 auto;
    cursor: pointer; /* Pointer/hand icon */
    width: 100vh;
    display: block; /* Make the buttons appear below each other */
}

#new-board-btn {
    white-space: normal;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    background-color: #f9f900; !important;
}