/* Brittany Morris' Portfolio Site */
* {
  box-sizing: border-box;
}

body {
    background-image: url("./Images/gplaypattern.png");
}

.container {
    margin: auto 0;
    max-width: 600px;
    margin-top: 60px;
  }
  